################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitStashRepro/Test/obj/Debug
/GitStashRepro/.vs/GitStashRepro/v14/.suo
